@using EntityLayer.Concrete

@model List<Destination>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminUILayout.cshtml";

	int count = 0;
}

<div class="card">
	<h5 class="card-header">Tur Rotaları</h5>
	<div class="card-body">
		<div class="table-responsive text-nowrap">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Şehir</th>
						<th>Fiyat</th>
						<th>Kapasite</th>
						<th>Sitede Gör</th>
						<th>Sil</th>
						<th>Güncelle</th>
						<th>Detaylar</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						count++;
						<tr>
							<td>@count</td>
							<td>@item.City</td>
							<td>@item.Capacity</td>
							<td>@item.Price</td>
							<td><a href="/Destination/DestinationDetail/@item.DestinationID" class="btn btn-outline-success">Sitede Gör</a></td>
							<td><a href="/Admin/Destination/DeleteDestination/@item.DestinationID" class="btn btn-outline-danger">Sil</a></td>
							<td><a href="/Admin/Destination/UpdateDestination/@item.DestinationID" class="btn btn-outline-warning">Güncelle</a></td>
							<td><a href="/Admin/Destination/DestinationDetails/@item.DestinationID" class="btn btn-outline-dark">Detaylar</a></td>
						</tr>
					}


				</tbody>
			</table>
			<a href="/Admin/Destination/AddDestination" class="btn btn-success" >Tur Ekle</a>
		</div>
	</div>
</div>
