
<div class="leave-comment-form mt-5" id="reply">
	<h4 class="side-title mb-2">Lütfen Bize Yorum Yapın :)</h4>
	<p class="mb-4">
		Yorum Yapmak İçin Aşağıdaki Bilgileri Girin
	</p>
	<form method="post" asp-controller="Comment" asp-action="Index">
		<input name="DestinationID" value="@ViewBag.vId" class="form-control" type="hidden"></input>
		<div class="form-group">
			<textarea name="CommentContent" class="form-control" placeholder="Yorumunuz" required="" spellcheck="false"></textarea>
		</div>
		<div class="input-grids row">

			<div class="form-group col-lg-12">
				<input name="CommentUser" type="text" class="form-control" placeholder="Adınız-Soyadınız"
					   required="">
			</div>

		</div>

		<div class="submit text-right">
			<button class="btn btn-style btn-primary">Yorum Yap</button>
		</div>
	</form>
</div>