@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminUILayout.cshtml";
}

<h2>Şehir ve Ülke İsimleri</h2>

<button id="CityList" class="btn btn-outline-info">Şehir Göster</button>
<br />
<button id="CityAdd" class="btn btn-outline-warning">Şehir Ekle</button>
<br />
<button id="GetById" class="btn btn-outline-success">Şehir Ara</button>
<br />
<button id="DeleteCity" class="btn btn-outline-danger">Şehir Sil</button>
<br />
<button id="UpdateCity" class="btn btn-outline-primary">Şehir Güncelle</button>

<div class="form-group">
	<label>Silmek için ID Giriniz</label>
	<input class="form-control" id="CityDelete" placeholder="ID Giriniz..." />
</div>

<div class="form-group">
	<label>Id Giriniz</label>
	<input type="text" class="form-control" id="GetCity" placeholder="Id Giriniz..." />
</div>

<form class="forms-sample">
	<div class="form-group">
		<label>Şehir Adı</label>
		<input type="text" id="City" class="form-control" placeholder="Şehir Adı" />
	</div>

	<div class="form-group">
		<label>Süre</label>
		<input type="text" id="DayNight" class="form-control" placeholder="Süre" />
	</div>

	<div class="form-group">
		<label>Ücret</label>
		<input type="text" id="Price" class="form-control" placeholder="Ücret" />
	</div>

	<div class="form-group">
		<label>Kapasite</label>
		<input type="text" id="Capacity" class="form-control" placeholder="Kapasite" />
	</div>
</form>
<div id="getlist">Şehirler Buraya Gelecek</div>
<br />
<br />

<div id="delete">Mesaj Buraya Gelecek</div>

<br />
<br />

<form class="forms-sample">
	<div class="form-group">
		<label>Şehir ID</label>
		<input class="form-control" id="CityUpdateID" placeholder="Güncellemek için Şehir ID Girin..." />
	</div>

	<div class="form-group">
		<label>Şehir Adı</label>
		<input class="form-control" id="CityUpdateNAME" placeholder="Güncellemek için Şehir Adı Girin..." />
	</div>

	<div class="form-group">
		<label>Ücret</label>
		<input class="form-control" id="CityUpdatePRICE" placeholder="Güncellemek için Ücret Girin..." />
	</div>

	<div class="form-group">
		<label>Kapasite</label>
		<input class="form-control" id="CityUpdateCAPACITY" placeholder="Güncellemek için Kapasite Girin..." />
	</div>
</form>





<!-- 1) ÖNCE jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- 2) Sonra kendi kodun -->
<script>
	$(function () {
	  $("#CityList").on("click", function () {
		$.ajax({
		  type: "GET",
		  url: "/Admin/City/CityList",
		  dataType: "json",
		  success: function (data) {

			console.log(data);

			let htmltable =
			  '<table class="table table-bordered">' +
			  "<tr><th>Şehir Adı</th><th>Süre</th><th>Fiyat</th><th>Kapasite</th></tr>";

			$.each(data, function (index, value) {
			  htmltable +=`<tr><td>${value.city}</td>`+
			  `<td>${value.dayNight}</td>`+
			  `<td>${value.price}</td>`+
			  `<td>${value.capacity}</td>`+
			  `</tr>`

			});

			htmltable += "</table>";
			$("#getlist").html(htmltable);
		  },
		  error: function (xhr) {
			console.error("Hata:", xhr.status, xhr.responseText);
			$("#getlist").text("Liste alınamadı.");
		  }
		});
	  });
	});



</script>

<script>
	$(function () {
	  $("#CityAdd").click(function () {
		let cityvalues = {
		  City: $("#City").val(),
		  DayNight: $("#DayNight").val(),
		  Price: $("#Price").val(),
		  Capacity: $("#Capacity").val()
		};

		$.ajax({
		  type: "POST",
		  url: "/Admin/City/AddDestination",
		  data: cityvalues,
		  dataType: "json",
		  success: function (funch) {
			alert("Şehir - Rota Başarılı Bir Şekilde Eklenildi");
		  }
		});
	  });
	});
</script>
<script>
	$("#GetById").click(function() {
		let id = $("#GetCity").val();
		$.ajax({
			contentType: "application/json",
			type: "GET",
			url: "/Admin/City/GetByCityId",
			dataType: "json",
			data: { DestinationId: id },
			success: function(funch) {
				let results = funch;
				console.log(results);

				let htmltable = `<table class="table table-bordered"><tr><th>Şehir Adı</th><th>Süre</th><th>Fiyat</th><th>Kapasite</th></tr><tr><td>${results.city}</td><td>${results.dayNight}</td><td>${results.price}</td><td>${results.capacity}</td></tr></table>`;

				$("#getlist").html(htmltable);
			},
			error: function (fanch){
				$("#getlist").html('Aradığınız Şehir Bulunamadı');
			}
		});
	});
</script>

<script>
	$("#DeleteCity").click(function(){
		let id = $("#CityDelete").val();

		$.ajax({
			contentType:"application/json",
			type:"POST",
			url:`/Admin/City/DeleteCity/${id}`,
			dataType:"json",
			success:function(ncn){
				alert("Şehir Başarılı Bir Şekilde Silindi");

			}

		});
	});
</script>

<script>
	$("#UpdateCity").click(function(){
		let values = {
			DestinationID : $("#CityUpdateID").val(),
			City : $("#CityUpdateNAME").val(),
			Price : $("#CityUpdatePRICE").val(),
			Capacity : $("#CityUpdateCAPACITY").val()};

			$.ajax({
				type:"POST",
				url:"/Admin/City/UpdateCity",
				data:values,
				success:function(nfg){
					alert("Başarılı Bir Şekilde Şehir Güncellenildi");
				}
			});

			


		});
	
</script>
