<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikler</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Traversal’da profil özetiniz burada! Seyahatlerinizin nabzını tutan bu panelde aktif ve geçmiş rezervasyonlarınızı, onay bekleyen işlemleri, toplam rota ve rehber sayısını, topluluğumuza katılan misafirleri ve ortalama puanınızı tek bakışta görebilirsiniz. İstatistikleriniz; planlama yaparken hangi rotaların ilgi gördüğünü, performansınızı ve misafir memnuniyetini takip etmenize yardımcı olur.</p>
                <h4 class="card-title">...</h4>
               <h6>Aktif Rezervasyon Sayınız: 6</h6>
               <h6>Geçmiş Rezervasyon Sayınız: 12</h6>
               <h6>Onay Bekleyen Rezervasyon Sayınız: 11</h6>
               <h6>Toplam Rota Sayısı: 16</h6>
               <h6>Toplam Rehber Sayımız: 5</h6>
               <h6>Toplam Misafir Sayımız: 1456</h6>
               <h6>Ortalama Puanınız: 8.5/10</h6>
            </div>
        </div>
    </div>
</div>