@model Traversal_Rezervasyon.Models.UserRegisterViewModel
@{
	ViewData["Title"] = "SignUp";
	Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">
	
<head>
	<title>Invent Signup Form Responsive Widget Template | Home :: W3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		  content="Invent Signup Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	<!--/Style-CSS -->
	<link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
	<!--//Style-CSS -->
</head>

<body>
	<!-- /login-section -->
	<section class="w3l-login-6">
		<div class="login-hny">
			<div class="form-content">
				<div class="form-right">
					<div class="overlay">
						<div class="grid-info-form">
							<h5>Merhabalar :)</h5>
							<h3>Hesap Oluştur </h3>
							<p>
								Birbirinden deneyimli rehberlerimiz eşliğinde İskandinav ülkelerinin soğuğunu,
								Akdeniz ülkelerinin sıcaklığını,
								güzel ülkemizin Kapadokya’dan Sürmene’ye,
								Ölüdeniz’den Asos’a, Balkan Turundan Mısır Çöllerine kadar aklınıza gelen her yere bir tık uzaktayız.
								7 Seyahatlerimize katılmak için hemen kayıt olun...
							</p>
							<a href="~/SignIn/Index" class="read-more-1 btn">Başlayalım</a>
						</div>

					</div>
				</div>
				<div class="form-left">
					<div class="middle">
						<h4>Bize Katıl</h4>
						<p>Ücretsiz Bir Şekilde Hesabını Oluşturabilirsin.</p>
					</div>
					<form method="post" class="signin-form" enctype="multipart/form-data">

						<div class="form-input">
							<label>Name</label>
							<input type="text" asp-for="Name" placeholder="İsim" />
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="form-input">
							<label>Soyisim</label>
							<input type="text" asp-for="Surname" placeholder="Soyisim" />
							<span asp-validation-for="Surname" class="text-danger"></span>
						</div>
						<div class="form-input">
							<label>E-Mail</label>
							<input type="email" asp-for="Mail" placeholder="E-Mail" />
							<span asp-validation-for="Mail" class="text-danger"></span>
						</div>

						<div class="form-input">
							<label>Cinsiyet</label>
							<select type="text" asp-for="Gender" placeholder="Cinsiyet"><option value="">--------Cinsiyet--------</option><option value="Kız">Kız</option> <option value="Erkek">Erkek</option></select>
							<span asp-validation-for="Gender" class="text-danger"></span>
						</div>

						<div class="form-input">
							<label>Kullanıcı Adı</label>
							<input type="text" class="form-group" asp-for="UserName" placeholder="Kullanıcı Adı" />
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>

						<div class="form-input">
							<label>Telefon Numarası</label>
							<input type="text" class="form-group" asp-for="Phone" placeholder="Telefon Numarası" />
							<span asp-validation-for="Phone" class="text-danger"></span>
						</div>

						<div class="form-input">
							<label>Şifre</label>
							<input type="password" class="form-group" asp-for="Password" placeholder="Şifre" />
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>

						<div class="form-input">
							<label>Şifre Tekrarı</label>
							<input type="password" class="form-group" asp-for="ComparePassword" placeholder="Şifre Tekrarı" />
							<span asp-validation-for="ComparePassword" class="text-danger"></span>
						</div>

						<div class="form-input">
							<label>Profil Resmi</label>
							<input type="file" asp-for="Image" class="file-upload-default">
							<span asp-validation-for="Image" class="text-danger"></span>

						</div>

						<div class="form-input">
							<label>Arka Plan Resmi</label>
							<input type="file" asp-for="BackgroundImage" class="file-upload-default">
							<span asp-validation-for="BackgroundImage" class="text-danger"></span>

						</div>
						<div class="text-danger" asp-validation-summary="ModelOnly"> </div>

						<label class="container">
							<label>Şartları Okudum Kabul Ediyorum </label>
							<input type="checkbox" required>
							<span class="checkmark"></span>
						</label>
						<button type="submit" class="btn">Hesap Oluştur</button>
					</form>
					<div class="copy-right text-center">
						<p>
							© @DateTime.Now.Year Tüm Hakları Saklıdır

						</p>
					</div>
				</div>

			</div>

		</div>
	</section>
	<!-- //login-section -->
</body>

</html>
