@model Traversal_Rezervasyon.Models.UserRegisterViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Traversal Kullanıcı Kayıt Ekranı</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- LINEARICONS -->
	<link rel="stylesheet" href="~/colorlib-regform-26/fonts/linearicons/style.css">

	<!-- STYLE CSS -->
	<link rel="stylesheet" href="~/colorlib-regform-26/css/style.css">
</head>

<body>

	<div class="wrapper">
		<div class="inner">
			<img src="~/colorlib-regform-26/images/image-1.png" alt="" class="image-1">
			<form action="" method="post" enctype="multipart/form-data">
				<h3>Yeni Hesap</h3>
				<div class="form-holder">
					<span class="lnr lnr-user"></span>
					<input asp-for="Name" type="text" class="form-control" placeholder="Adınız">
					<span asp-validation-for="Name"></span>
				</div>
				<div class="form-holder">
					<span class="lnr lnr-map"></span>
					<input asp-for="Surname" type="text" class="form-control" placeholder="Soyadınız">
					<span asp-validation-for="Surname"></span>
				</div>
				<div class="form-holder">
					<span class="lnr lnr-lock"></span>
					<input asp-for="UserName" type="text" class="form-control" placeholder="Kullanıcı Adı">
					<span asp-validation-for="UserName"></span>
				</div>
				<div class="form-holder">
					<span class="lnr lnr-envelope"></span>
					<input asp-for="Mail" type="text" class="form-control" placeholder="Mail Hesabınız">
					<span asp-validation-for="Mail"></span>
				</div>
				<div class="form-holder">
					<span class="lnr lnr-phone-handset"></span>
					<input asp-for="Phone" type="text" class="form-control" placeholder="Telefon Numaranız">
					<span asp-validation-for="Phone"></span>
				</div>
				<div class="form-holder">
					<span class="lnr lnr‑lighter"></span>
					<select asp-for="Gender" class="form-control"> <option value="">----Cinsiyet Seçiniz----</option> <option value="Kız">Kız</option> <option value="Erkek">Erkek</option> </select>
					<span asp-validation-for="Gender"></span>
				</div>
				<div class="form-holder">
					<span class="lnr lnr-lock"></span>
					<input asp-for="Password" type="password" class="form-control" placeholder="Şifreniz">
					<span asp-validation-for="Password"></span>
				</div>
				<div class="form-holder">
					<span class="lnr lnr-lock"></span>
					<input asp-for="ComparePassword" type="password" class="form-control" placeholder="Şifre Tekrarı">
				</div>

				<div class="form-group">
			
					<div class="input-group col-xs-12">
						<input type="file" asp-for="Image" class="form-control file-upload-info" >
						
					</div>
				</div>
				
				<button>
					<span>Kayıt Ol</span>
				</button>
				<button class="form-control">Giriş Yap</button>

			</form>
			<img src="~/colorlib-regform-26/images/image-2.png" alt="" class="image-2">
		</div>
		
	</div>

	<script src="~/colorlib-regform-26/js/jquery-3.3.1.min.js"></script>
	<script src="~/colorlib-regform-26/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
