
@{
    Layout = null;
}

@await Html.PartialAsync("/Views/Home/_HeaderPartial.cshtml");
<body>
    @await Html.PartialAsync("/Views/Home/_NavbarPartial.cshtml");


@RenderBody()

    @await Html.PartialAsync("/Views/Home/_FooterPartial.cshtml");
    @await Html.PartialAsync("/Views/Home/_ScriptPartial.cshtml");

</body>



