@using EntityLayer.Concrete

@model List<Guide>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminUILayout.cshtml";
}
<style>
	img{
		border-radius:50%
	}
</style>
<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Tur Rehberleri Listesi</h4>

			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Ad-Soyad</th>
							<th>Açıklama</th>
							<th>Durum</th>
							<th>Sil</th>
							<th>Düzenle</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td class="py-1">
									<img src="/GuideProfileFoto/@item.ImageURL" width="50" height="50" alt="image" />
								</td>
								<td>@item.Name</td>
								<td>@item.Description</td>
								@if (item.Status==true)
								{
									<td><a href="/Admin/Guide/ChangePasif/@item.GuideID" class="btn btn-danger">Pasif Yap</a></td>
								}
								else
								{
									<td><a href="/Admin/Guide/ChangeAktif/@item.GuideID" class="btn btn-success">Aktif Yap</a></td>
								}
								<td><a href="/Admin/Guide/DeleteGuide/@item.GuideID" class="btn btn-warning">Sil</a></td>
								<td><a href="/Admin/Guide/UpdateGuide/@item.GuideID" class="btn btn-info">Düzenle</a></td>
							</tr>
						}

					</tbody>
				</table>
				<a href="/Admin/Guide/AddGuide" class="btn btn-light">Yeni Tur Rehberi Ekle</a>
			</div>
			<a href="/Pdf/GuideList" class="btn btn-outline-danger">PDF Olarak İndir</a>
			<a href="/Excel/ExcelGuide" class="btn btn-outline-warning">EXCEL Olarak İndir</a>
		</div>
	</div>
</div>
